/*COMMON*/
.text-r {
	text-align: right;
}

ul li {
	list-style-type: none;
}

.star {
	display: inline-block;
	position: relative;
	font-size: 40px;
}
.star:before,
.star:after {
	content: "";
	position: absolute;
	border-bottom: 3px solid white;
	top: 50%;
	width: 300%;
	transform: translateY(-50%);
}
.star:before {
	right: 100%;
	margin-right: 15px;
}
.star:after {
	left: 100%;
	margin-left: 15px;
}

.title h2 {
	font-size: 40px;
}
.teaser {
	background-color: #1abc9c;
	color: white;
	text-transform: uppercase;
	padding: 20px;
}

/*HEADER*/

/*Top Nav*/
.top-nav {
	background-color: #2c3e50;
	color: white;
	padding: 20px;
}
.logo,
.burger {
	font-size: 25px;
	font-weight: bold;
}
.menu,
.burger {
	line-height: 30px;
}
.burger i {
	border: 1px solid white;
	padding: 5px;
	color: #888888;
}

/*MAIN*/
.portfolio {
	margin: 50px 0;
	font-weight: bold;
}
.portfolio .star:before,
.portfolio .star:after {
	border-bottom: 3px solid black;
}

/*TEST IMAGE*/
.col_content .test-image {
	background-color: blue;
	height: 200px;
	margin-top: 20px;
}

/*About*/
.about .teaser p {
	text-transform: none;
	font-size: 20px;
	padding: 20px 0;
}
