/*COMMON*/
ul li {
	list-style-type: none;
	display: inline-block;
}
a {
	color: inherit;
}
a:hover {
	text-decoration: none;
}

.small-wrapper {
	max-width: 900px;
	width: 80%;
	margin: 0 auto;
}

.star {
	display: inline-block;
	position: relative;
	font-size: 40px;
	padding: 20px 0;
}
.star:before,
.star:after {
	content: "";
	position: absolute;
	border-bottom: 3px solid white;
	top: 50%;
	width: 300%;
	transform: translateY(-50%);
}
.star:before {
	right: 100%;
	margin-right: 15px;
}
.star:after {
	left: 100%;
	margin-left: 15px;
}

.title h2 {
	font-size: 40px;
}
.teaser {
	background-color: #1abc9c;
	color: white;
	text-transform: uppercase;
	padding: 20px;
}

.blk-text {
	margin: 50px 0;
	font-weight: bold;
	text-transform: uppercase;
}
.blk-text .star:before,
.blk-text .star:after {
	border-bottom: 3px solid black;
}

.btn_green {
	background-color: #1abc9c;
	border: 1px solid white;
	color: white;
}
.btn_green:hover {
	background-color: white;
	color: #1abc9c;
}

/*HEADER*/

/*Top Nav*/
.top-nav,
.information,
.copyright {
	background-color: #3a546d;
	color: white;
	padding: 20px;
}
.logo,
.burger {
	font-size: 25px;
	font-weight: bold;
}
.menu,
.burger {
	line-height: 30px;
}
.burger i {
	border: 1px solid white;
	padding: 5px;
	color: #888888;
}
.menu .menu_list li {
	margin-left: 40px;
}
.menu .menu_list li a:hover {
	color: #1abc9c;
}

/*Teaser*/
.teaser .avatar {
	width: 15%;
	min-width: 150px;
}

/*MAIN*/
/*Images Portfolio*/
.portfolio .col_content {
	margin-bottom: 30px;
}
/*About*/
.about.teaser p {
	text-transform: none;
	font-size: 20px;
	padding: 20px 0;
	text-align: left;
}
.download i {
	padding-right: 5px;
}

/*Contact Me*/
.contact_me .btn_green:hover {
	background-color: #3a546d;
	color: white;
}
.contact_me #form-contact label {
	display: none;
}
#form-contact input {
	height: 50px;
}
#form-contact input,
#form-contact textarea {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	box-shadow: none;
	border-radius: 0;
	padding-left: 0;
	padding-bottom: 36px;
}
#form-contact input::placeholder,
#form-contact textarea::placeholder {
	color: #3a546d;
	font-size: 20px;
}

/*FOOTER*/
/*Information*/
footer .information p {
	font-size: 25px;
	font-weight: bold;
}
footer .information [class*="col-"] p:first-child {
	text-transform: uppercase;
}
footer .information ul {
	padding: 0;
}
footer .information ul li {
	border: 1px solid white;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
footer .information ul li i {
	font-size: 20px;
	padding: 0 10px;
}
footer .information ul li .fab {
	line-height: 50px;
}
footer .information a {
	color: #1abc9c;
}

footer .information [class*="col-"] {
	padding: 20px 0;
}
footer .copyright {
	background-color: #2c3e50;
}

/*Media Query*/
@media speech {
	.contact_me #form-contact label {
		display: inherit;
	}
}
